@model IEnumerable<SAEP_vitor.Models.Equipamentos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipamento)
            </th>
            <th>
                <img src="~/img/Imagens_Equipamentos/@Html.DisplayNameFor(model => model.Imagem)" />
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Equipamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.Id"> 
                    <img src="~/img/Imagens_Icones/deletar.png" alt="excluir" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
